<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" media="all" href="/gtvg/css/gtvg.css" />
</head>
<body>
<h1>Task</h1>
<table>
    <ul>
        <li th:each="u : ${getTask}" th:text="${task}">Task</li>
    </ul>
    <tr>
        <th>Заголовок</th>
        <th>Тема</th>
        <th>Краткое описание</th>
        <th>Стек требуемых технологий</th>
        <th>Требования к исполнителю</th>
        <th>Оплата за работу</th>
        <th>гарантийное обеспечение</th>
    </tr>
    <tr class="odd">
        <td>Fresh Sweet Basil</td>
        <td>4.99</td>
        <td>yes</td>
    </tr>
    <tr>
        <td>Italian Tomato</td>
        <td>1.25</td>
        <td>no</td>
    </tr>
    <tr class="odd">
        <td>Yellow Bell Pepper</td>
        <td>2.50</td>
        <td>yes</td>
    </tr>
    <tr>
        <td>Old Cheddar</td>
        <td>18.75</td>
        <td>yes</td>
    </tr>
</table>
<p>
    <a href="/gtvg/" shape="rect">Return to home</a>
</p>
</body>
</html>