<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/create-client}" method="get">
    <input type="submit" value="Create client"/>
</form>

<form th:action="@{/create-requisite}" method="get">
    <input type="submit" value="Create requisite"/>
</form>

<form th:action="@{/get-payments}" method="get">
    <input type="submit" value="Show All Payments"/>
</form>

<form th:action="@{/get-clients}" method="get">
    <input type="submit" value="Show All Clients"/>
</form>
</body>
</html>