<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Leemo</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выход"/>
</form>

<form th:action="@{/create-task}" method="get">
    <input type="submit" value="Создать задание"/>
</form>

<form th:action="@{/adminTasks}" method="get">
    <input type="submit" value="Проверить Задания">
</form>
<form th:action="@{/userTasks}" method="get">
    <input type="submit" value="Просмотр заданий"/>
</form>

</body>
</html>