<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8">
<head><title>Новый пароль</title></head>

<body>
<div th:if="${error} != null"> User with this email not found.
</div>
</div>
<form th:action="@{/newPasswordUser}" method="post" th:object="${reset}">
    <input th:value="${reset.getEmail()}" type="hidden" name="email"/>
    <div><label> Token : <input th:value="${token}" type="text" name="token" autofocus required/> </label></div>
    <div><label> Password : <input th:value="${password}" type="password" name="password" autofocus required/></label></div>
    <div><label> Repead Password : <input th:value="${repeatPassword}" type="password" name="repeatPassword" autofocus required/></label></div>
    <div><input type="submit" value="Send"/></div>
</form>
</body>
</html>