<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8">
<head><title>Новый пароль</title></head>

<body>
<div th:if="${error} != null"> User with this email not found.
</div>
</div>
<form th:action="@{/newPasswordUser}" method="post" th:object="${users}">
    <div><label><input th:value="${email.getEmail}" hidden="hidden" type="text" name="email"></label></div>
    <div><label> Token : <input th:value="${token}" type="number" name="token" autofocus required/> </label></div>
    <div><label> Password : <input th:value="${password}" type="password" name="password" autofocus required/> </label></div>
    <div><input type="submit" value="Send"/></div>
</form>
</body>
</html>