<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Check Task</title>
</head>
<body>
<table border="3">
    <tr>
        <th>Заголовок</th>
        <th>Тема</th>
        <th>Краткое Описание</th>
        <th>Дата Создания</th>
        <th>Статус</th>
        <th>СтекТехнологии</th>
        <th>Требования к исполнителю</th>
    </tr>
    <tr th:each="tasks:${publishedTasks}">
        <td th:text="${tasks.getHeaderTitle()}"></td>
        <td th:text="${tasks.getTitle()}"></td>
        <td th:text="${tasks.getRequirements()}"></td>
        <td th:text="${tasks.getCreatedDate()}"></td>
        <td th:text = "${tasks.getStatus()}"></td>
        <td th:text = "${tasks.getStackTech()}"></td>
        <td th:text="${tasks.getDeveloperRequirements()}"></td>

    </tr>
</table>
</body>
</html>