<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/html"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form th:action="@{/showBalance}" method="post"  th:object="${profile}">
    <input th:value="${profile.getId()}" type="text" hidden="hidden" name="id"/>
    <h1>
        <th:block th:text="${profile.getEmail()}"></th:block>
    </h1>
    <p>
        <th:block th:text="${profile.getName()}"></th:block>
    </p>

    <br>

</form>

</body>
</html>
